flow.json
[
    {
        "id": "429ad46d.06bf9c",
        "type": "tab",
        "label": "dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a82ff252.80d08",
        "type": "mqtt-broker",
        "name": "Broker Seguro",
        "broker": "enriquecrespo.com",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e919f749.380228",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9bbfb1a1.a5f53",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#75390b",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Dashboard Ejemplo",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "7b566a7c.f8e974",
        "type": "ui_group",
        "name": "Areta",
        "tab": "e919f749.380228",
        "order": 3,
        "disp": true,
        "width": 10,
        "collapse": false
    },
    {
        "id": "41d201bf.153b3",
        "type": "ui_group",
        "name": "Grafica",
        "tab": "e919f749.380228",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "5f910634.44f3e8",
        "type": "ui_group",
        "name": "Formulario",
        "tab": "e919f749.380228",
        "order": 1,
        "disp": true,
        "width": 4,
        "collapse": false
    },
    {
        "id": "d6f3a387.7dda",
        "type": "ui_tab",
        "name": "Otra Tab",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a0952af6.733448",
        "type": "ui_group",
        "name": "Pulsadores",
        "tab": "d6f3a387.7dda",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e418ca12.0b5d98",
        "type": "ui_group",
        "name": "Perdon",
        "tab": "e919f749.380228",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "d648764d.80e298",
        "type": "http request",
        "z": "429ad46d.06bf9c",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://www.navarra.es/Templates/Navarra/Especificas/CamarasTrafico/CamaraTraficoHandler.ashx?Img=carreteras\\ARETA_PA_30_5_700.JPG",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 510,
        "y": 60,
        "wires": [
            [
                "76c2ee38.dec8",
                "c289fed4.96272",
                "dca608c3.ae5ca8"
            ]
        ]
    },
    {
        "id": "76c2ee38.dec8",
        "type": "image",
        "z": "429ad46d.06bf9c",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 860,
        "y": 60,
        "wires": []
    },
    {
        "id": "b85066b7.dd6f48",
        "type": "ui_text",
        "z": "429ad46d.06bf9c",
        "group": "41d201bf.153b3",
        "order": 1,
        "width": 8,
        "height": 1,
        "name": "",
        "label": "Hora",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 510,
        "y": 700,
        "wires": []
    },
    {
        "id": "c84bd35c.6b582",
        "type": "ui_gauge",
        "z": "429ad46d.06bf9c",
        "name": "",
        "group": "41d201bf.153b3",
        "order": 4,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Raspi2",
        "label": "Grados",
        "format": "{{value|number:2}} ºC",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "65",
        "seg2": "80",
        "x": 310,
        "y": 160,
        "wires": []
    },
    {
        "id": "12a3f0c9.9a412f",
        "type": "ui_chart",
        "z": "429ad46d.06bf9c",
        "name": "",
        "group": "41d201bf.153b3",
        "order": 2,
        "width": 8,
        "height": 6,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#e9afb3",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 310,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "9802963b.a01cb8",
        "type": "ui_form",
        "z": "429ad46d.06bf9c",
        "name": "",
        "label": "",
        "group": "5f910634.44f3e8",
        "order": 4,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "",
                "value": "nombre",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "value": "apellido",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "nombre": "",
            "apellido": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 370,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "ad709e2.141126",
        "type": "ui_switch",
        "z": "429ad46d.06bf9c",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a0952af6.733448",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 350,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "63b2f095.71435",
        "type": "ui_media",
        "z": "429ad46d.06bf9c",
        "group": "7b566a7c.f8e974",
        "name": "Areta",
        "width": 10,
        "height": 7,
        "order": 1,
        "category": "",
        "file": "",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 830,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "c289fed4.96272",
        "type": "change",
        "z": "429ad46d.06bf9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "image/jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 440,
        "wires": [
            [
                "63b2f095.71435"
            ]
        ]
    },
    {
        "id": "dca608c3.ae5ca8",
        "type": "file",
        "z": "429ad46d.06bf9c",
        "name": "",
        "filename": "/home/jose/imagenes/carretera.jpeg",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 790,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "2d43d89.0e31c28",
        "type": "mqtt in",
        "z": "429ad46d.06bf9c",
        "name": "Temp2",
        "topic": "aprendiendonodered21/enrique/raspberrypi2/enrique/Temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "a82ff252.80d08",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 160,
        "wires": [
            [
                "c84bd35c.6b582",
                "12a3f0c9.9a412f"
            ]
        ]
    },
    {
        "id": "b74428fc.f74e68",
        "type": "mqtt in",
        "z": "429ad46d.06bf9c",
        "name": "Temp1",
        "topic": "aprendiendonodered21/enrique/raspberrypi1/enrique/Temperatura",
        "qos": "2",
        "datatype": "auto",
        "broker": "a82ff252.80d08",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 240,
        "wires": [
            [
                "12a3f0c9.9a412f",
                "231609d.e3e78f6"
            ]
        ]
    },
    {
        "id": "3b4a40d8.9a1b6",
        "type": "ui_button",
        "z": "429ad46d.06bf9c",
        "name": "",
        "group": "5f910634.44f3e8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Actualiza imagen",
        "tooltip": "",
        "color": "{{payload}}",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 60,
        "wires": [
            [
                "d648764d.80e298",
                "ac9cb0c7.c5ebe"
            ]
        ]
    },
    {
        "id": "ed48e8a4.b85d58",
        "type": "inject",
        "z": "429ad46d.06bf9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "3b4a40d8.9a1b6"
            ]
        ]
    },
    {
        "id": "24fda728.86d7b8",
        "type": "ui_ui_control",
        "z": "429ad46d.06bf9c",
        "name": "",
        "events": "all",
        "x": 460,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "20a5af8e.ec8e5",
        "type": "ui_button",
        "z": "429ad46d.06bf9c",
        "name": "",
        "group": "5f910634.44f3e8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Areta",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Home_Perdon\"],\"show\":[\"Home_Areta\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "24fda728.86d7b8"
            ]
        ]
    },
    {
        "id": "202e2ccf.5d9734",
        "type": "ui_button",
        "z": "429ad46d.06bf9c",
        "name": "",
        "group": "5f910634.44f3e8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Perdon",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"Home_Areta\"],\"show\":[\"Home_Perdon\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 360,
        "wires": [
            [
                "24fda728.86d7b8"
            ]
        ]
    },
    {
        "id": "82546d21.1a295",
        "type": "ui_form",
        "z": "429ad46d.06bf9c",
        "name": "",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "value": "",
                "label": "",
                "type": "",
                "required": true
            }
        ],
        "formValue": {},
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "x": 350,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "231609d.e3e78f6",
        "type": "ui_gauge",
        "z": "429ad46d.06bf9c",
        "name": "",
        "group": "41d201bf.153b3",
        "order": 3,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "Raspi1",
        "label": "Grados",
        "format": "{{value|number:2}} ºC",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "65",
        "seg2": "80",
        "x": 310,
        "y": 280,
        "wires": []
    },
    {
        "id": "5ad8a319.0909fc",
        "type": "inject",
        "z": "429ad46d.06bf9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "11495483.592dcb"
            ]
        ]
    },
    {
        "id": "11495483.592dcb",
        "type": "moment",
        "z": "429ad46d.06bf9c",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/Madrid",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "dddd, MMMM Do YYYY, h:mm:ss a",
        "locale": "es",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/Madrid",
        "x": 320,
        "y": 700,
        "wires": [
            [
                "b85066b7.dd6f48"
            ]
        ]
    },
    {
        "id": "ac9cb0c7.c5ebe",
        "type": "http request",
        "z": "429ad46d.06bf9c",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://www.navarra.es/Templates/Navarra/Especificas/CamarasTrafico/CamaraTraficoHandler.ashx?Img=carreteras\\PERDON_ESTELLA_A_12_PK_13_150.JPG",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 120,
        "wires": [
            [
                "4fc529e2.bdfb78",
                "cd660322.2ade1"
            ]
        ]
    },
    {
        "id": "4fc529e2.bdfb78",
        "type": "image",
        "z": "429ad46d.06bf9c",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "cd660322.2ade1",
        "type": "change",
        "z": "429ad46d.06bf9c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mimetype",
                "pt": "msg",
                "to": "image/jpeg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 480,
        "wires": [
            [
                "59a1aff3.29591"
            ]
        ]
    },
    {
        "id": "59a1aff3.29591",
        "type": "ui_media",
        "z": "429ad46d.06bf9c",
        "group": "e418ca12.0b5d98",
        "name": "Perdon",
        "width": 10,
        "height": 7,
        "order": 1,
        "category": "",
        "file": "",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 840,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "6462334b.72002c",
        "type": "inject",
        "z": "429ad46d.06bf9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "20a5af8e.ec8e5"
            ]
        ]
    }
]